html{
    font-size: 10px;
}
body{
    margin: 0;
    font-family: 'Roboto', 'sans-serif', sans-serif;
    font-size: 1.4rem;
}
header{
    height: 3rem;
}
nav{
    position: relative;
}
.navigation__wrapper{
    position: fixed;
    padding: 1rem 0;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 5px 5px -4px rgba(0, 0, 255, 0.1);
    z-index: 3;
}
.padded-body{
    padding: 3.5rem 1rem;
    position: relative;
}
#welcome-text{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #117d5a;
}
.notification__body{
    position: fixed;
    text-align: center;
    padding: 1rem;
    height: 25rem;
    width: calc(100% - 4rem);
    z-index: 2;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: calc(50% - 12.5rem);
    /* border-radius: 0.25rem; */
    box-shadow: 4px 4px 4px -5px gainsboro;
    border: 1px solid #cf4241;
    display: none;
}
.close-notification{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 100%;
    background-color: white;
    color: #cf4241;
    position: absolute;
    top: -1rem;
    right: -.5rem;
    border: 1px solid #cf4241;
}
.edit__body__wrapper{
    padding: .5rem 1rem;
    border-radius: .25rem;
    margin: 1rem 0;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19);
    position: relative;
    height: 46rem;
}
select, input{
    height: 3rem;
    border: 1px solid rgba(29, 57, 74, 0.1);
    background-color: rgba(29, 57, 74, 0.1);
    border-radius: .25rem;
    outline: none;
    color: #0c0000;
    padding: .5rem 1rem;
}
h4{
    color: #1d394a;
    margin: 0.5rem 0;
}
.report-details{
    padding: .6rem .75rem;
    display: grid;
    grid-template-columns: 10rem auto;
    align-items: center;
    justify-content: space-between;
}
.report-details p{
    margin: .5rem 0;
    margin-left: 1.5rem;
    text-align: right;
}
.content-wrapper{
    height: 30rem;
    margin: 1rem 0;
}
.btn-div select{
    height: 3rem;
    width: 10rem;
    border: 1px solid rgba(29, 57, 74, 0.1);
    border-radius: .25rem;
    background: rgba(29, 57, 74, 0.1);
    outline: none;
}
.comment-div{
    margin: 1rem 0;
}
textarea{
    height: 10rem;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid rgba(29, 57, 74, 0.3);
    outline: none;
}
.btn-select{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: hsla(210, 9%, 96%, 1);
    border-radius: 0 0 .25rem .25rem;
    padding: 0 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 2rem);
}
.navigation__wrapper button{
    font-size: 1.25rem;
    height: 3rem;
    width: 10rem;
    border: 1px solid #cf4241;
    background: #cf4c41;
    border-radius: .25rem;
    margin: 0 .5rem;
    color: black;
    font-weight: 500;
}
.navigation__wrapper div:nth-of-type(1),
.navigation__wrapper div:nth-of-type(2){
    margin: 0 1rem 0 .5rem;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    justify-content: center;
}
.navigation__wrapper a{
    text-decoration: none;
    color: #117d5a;
}
.action-btns{
    height: 3.5rem;
    width: 10rem;
    border-radius: .25rem;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    margin: 0 .5rem;
    outline: none;
}
#edit-btn{
    background: #117d5a;
    border: 1px solid #117d5a;
    color: white;
}
#ireporter-logo{
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 1.3;
}
@media screen and (min-device-width: 700px){
    .edit__content{
        padding: 0 15rem;
    }
    .edit__body__wrapper{
        height: 41rem;
    }
    .display-btn-div{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-evenly; 
    }
}
@media screen and (min-width: 900px){
    .edit__content{
        padding: unset;
    }
    .edit__body__wrapper{
        height: 46rem;
    }
    .padded-body{
        padding: 5rem 35%;
    }
    .content-wrapper{
        height: 45rem;
    }
}