html{
    font-size: 10px;
}
body{
    margin: 0;
    font-family: 'Roboto', 'sans-serif', sans-serif;
    font-size: 1.4rem;
}
header{
    height: 3rem;
}
nav{
    position: relative;
}
/* *{
    margin: 0;
} */
.navigation__wrapper{
    position: fixed;
    padding: 1rem 0;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: white;
    box-shadow: 0px 5px 5px -4px rgba(0, 0, 255, 0.1);
    z-index: 3;
}
.padded-body{
    padding: 0 1rem;
    position: relative;
}
#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(239, 239, 239, 0.5);
}
.welcome-text{text-align: center;}
.welcome-text button{
    height: 5rem;
    width: 15rem;
    border: 1px solid #117d5a;
    background: #117d5a;
    border-radius: .25rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin: -1rem 0;
}
.img-div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-img{
    height: 350px;
}
.child-img{
    position: absolute;
    height: calc(100% - 13.5rem);
    width: calc(100% - 177px);
    border: 1px solid transparent;
    border-radius: .5rem;
    margin-top: .25rem;
}
h1{
    margin: 0;
    font-size: 2.5rem;
    white-space: pre-line;
}
#end-text{
    color: #cf4241;
}
section{
    height: 100vh;
    text-align: center;
}
/* #description{
    text-align: center;
} */
.intro{
    margin: 1rem 0;
    font-size: 2rem;
    color: #1d394a;
}
.description-body,
.process-body{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.description-body__img img{
    height: 250px;
    width: 300px;
    object-fit: scale-down;
    object-position: center;
}
.text-div{
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: left;
    /* margin: 0; */
    /* padding: 0 1rem; */
}
#process{
    background-color: #f7f7f7;
}
.process-intro h3{
    padding-top: 1.5rem;
    margin: 0;
}
.sub-header{
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
    color: #23948c;
}
/* .process-body{
    flex-direction: column;
} */
.process-body img{
    height: 300px;
    border-radius: .25rem;
    border: 1px solid rgba(29, 57, 74, 0.3);
    box-shadow: 0 0 0 -4px #f7f7f7;
}
.process-body__text{
    /* margin: 2rem 0; */
    padding: 0 1rem;
}
.numbers{
    color: #cf4241;
    margin-right: 1rem;
}
.stories-breakdown__details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
}
.incident{
    height: 10rem;
    width: 10rem;
    border: 1px solid rgba(29, 57, 74, 0.1);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    word-break: break-word;
}
.incident-stats{
    font-size: 1.65rem;
}
.resolved{
    color: #117d5a;
}
.rejected{
    color: #cf4241
}
.all{
    color: #f2b21c;
}
.investigating{
    color: #1d394a;
}
footer{
    height: 30vh;
    background: #1d394a;
    color: white;
    text-align: center;
    padding: 3rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#disclaimer p{
    white-space: pre-line;

}
#disclaimer span{
    color: white;
    margin-top: 1rem;
}
.navigation__wrapper div{
    margin: 0 1rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;
}
.navigation__wrapper a{
    text-decoration: none;
    color: #117d5a;
}
@media screen and (min-width: 700px){
    #welcome .padded-body{
        display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    }
    #description,
    #process,
    #stories{
        height: 50vh;
    }
    .padded-body{
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    /* #description .padded-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    } */
    .description-body, 
    .process-body,
    .stories-breakdown{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
    }
    .sub-header{
        text-align: left;
    }
    .process-body img{
        height: 200px;
        margin-top: 1rem;
    }
    footer{
        height: 15vh;
        padding: 0 5rem;
    }
}
@media screen and (min-width: 900px){
    #welcome .padded-body{
        grid-column-gap: 10rem;
    }
    .padded-body{
        padding: 0 15rem;
    }
    footer{
        height: 30vh;
        display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10rem;
    }
}