html{
    font-size: 10px;
}
body{
    margin: 0;
    font-family: 'Roboto', 'sans-serif', sans-serif;
    font-size: 1.4rem;
}
header{
    height: 3rem;
}
nav{
    position: relative;
}
.navigation__wrapper{
    position: fixed;
    padding: 1rem 0;
    top: 0;
    left: 0;
    /* width: calc(100% - 1rem); */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: white;
    box-shadow: 0px 5px 5px -4px rgba(0, 0, 255, 0.1);
    z-index: 3;
}
.padded-body{
    padding: 3.5rem 1rem;
    position: relative;
}
.notification{
    position: fixed;
    height: 25rem;
    width: calc(100% - 2rem);
    z-index: 2;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 12.5rem);
    /* border-radius: 0.25rem; */
    box-shadow: 4px 4px 4px -5px gainsboro;
    border: 1px solid #cf4241;
    display: none;
}
.notification__body{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 100%;
    background-color: white;
    color: #cf4241;
    position: absolute;
    top: -1rem;
    right: -.5rem;
    border: 1px solid #cf4241;
}
h2{
    color: #1d394a;
    letter-spacing: 1px;
    margin: .5rem 0;
}
.create-content, 
.edit__body__wrapper, 
.report-body-wrapper{
    padding: .5rem 1rem;
    border: 1px solid rgba(242, 178, 28, 0.5);
    border-radius: .25rem;
    margin: 1rem 0;
}
.edit,
.recently-created{
    margin: 5rem 0 0 0;
}
.input-div{
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0 1rem 0;
}
.input-div label{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #1d394a;
}
.input-div input, .input-div select{
    height: 3.5rem;
    border: 1px solid rgba(29, 57, 74, 0.1);
    background-color: rgba(29, 57, 74, 0.1);
    border-radius: .25rem;
    outline: none;
    color: #0c0000;
    padding: .5rem 1rem;
}
.for-text{
    height: 13rem;
}
.input-div textarea{
    outline: none;
    height: 10rem;
    border: 1px solid rgba(29, 57, 74, 0.1);
    padding: 1rem;
}
.btn-div{
    text-align: right;
    margin: 1.5rem 0;
}
.btn-div button{
    height: 3.5rem;
    width: 15rem;
    border: 1px solid #117d5a;
    background-color: #117d5a;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.25rem;
    border-radius: .25rem;
    outline: none;
}
h4{
    color: #1d394a;
    margin: 0.5rem 0;
}
.report-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(29, 57, 74, 0.1);
    height: 3.5rem;
    margin: .5rem 0;
}
.report-details p{
    margin: .5rem 0;
}
.display-btn-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}
.view-btns{
    height: 3rem;
    border-radius: .25rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    padding: 0 1.5rem;
}
.view-map-btn{
    background: #23948c;
    border: 1px solid #23948c;
    color: black;
}
.view-images-btn{
    background: #117d5a;
    border: 1px solid #117d5a;
    color: white;
}
.view-comments-btn{
    background: #f2b21c;
    border: 1px solid #f2b21c;
    color: black;
}
.view-videos-btn{
    background: #1d394a;
    border: 1px solid #1d394a;
    color: white;
}
.comment-div{
    margin: 1rem 0;
}
textarea{
    height: 10rem;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid rgba(29, 57, 74, 0.3);
    outline: none;
}
.map-region{
    height: 20rem;
    /* border: 1px solid; */
    position: relative;
    display: none;
}
.content-wrapper{
    height: 30rem;
    margin: 1rem 0;
}
.image-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}
.image-container img{
    height: 14.5rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgba(29, 57, 74, 0.35);
    border-radius: .25rem;
}
/* .btn-div select{
    height: 3rem;
    width: 10rem;
    border: 1px solid rgba(29, 57, 74, 0.1);
    border-radius: .25rem;
    background: rgba(29, 57, 74, 0.1);
    outline: none;
} */
.btn-select{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6rem;
    margin-bottom: 0;
}
.action-btns{
    height: 3.5rem;
    width: 10rem;
    border-radius: .25rem;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    margin: 0 .5rem;
    outline: none;
}
.edit-btn{
    background: #117d5a;
    border: 1px solid #117d5a;
    color: white;
}
.delete-btn{
    background: #cf4241;
    border: 1px solid #cf4241;
    /* width: 12rem; */
    color: white;
}
.action-btns-div{
        margin: 2rem 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid rgba(29, 57, 74, 0.1);
    padding: 0 .5rem;
    box-shadow: 2px 2px 1px -3px rgba(29,57,74,0.1);
    border-radius: .25rem;
}
.navigation__wrapper button{
    font-size: 1.25rem;
    height: 3rem;
    width: 10rem;
    border: 1px solid #cf4241;
    background: #cf4c41;
    border-radius: .25rem;
    margin: 0 .5rem;
    color: black;
    font-weight: 500;
}
.navigation__wrapper div:nth-of-type(1),
.navigation__wrapper div:nth-of-type(2){
    margin: 0 1rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;
}
.navigation__wrapper a{
    text-decoration: none;
    color: #117d5a;
}
.fa{
    margin-left: 1rem;
}
.fa-flag{
    color: #cf4241;
}
@media only screen and (min-device-width: 700px){
    .edit{
        margin: 0;
    }
    /* .create-and-edit{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    } */
    .content-wrapper{
        height: 25rem;
    }
    .image-container img{
        height: 12rem;
    }
    .map-region{
        height: 11rem;
    }
    .list-of-reports{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .display-btn-div{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-evenly; 
    }
}
@media only screen and (min-device-width: 900px){
    .padded-body{
        padding: 5rem 15rem;
    }
    .content-wrapper{
        height: 45rem;
    }
    .image-container img{
        height: 22rem;
    }
}