html{
    font-size: 10px;
}
body{
    margin: 0;
    font-family: 'Roboto', 'sans-serif', sans-serif;
    font-size: 1.4rem;
}
header{
    height: 3rem;
}
nav{
    position: relative;
}
.navigation__wrapper{
    position: fixed;
    padding: 1rem 0;
    top: 0;
    left: 0;
    /* width: calc(100% - 1rem); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 5px 5px -4px rgba(0, 0, 255, 0.1);
    z-index: 3;
}
.padded-body{
    padding: 3.5rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#welcome-text{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #117d5a;
}
.notification__body{
    position: fixed;
    text-align: center;
    padding: 1rem;
    /* height: 25rem; */
    width: calc(100% - 4rem);
    left: 1rem;
    z-index: 2;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: calc(50% - 12.5rem);
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid #cf4241;
    display: none;
}
.select-report{
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: space-evenly;
}
.select-report select{
    height: 3.5rem;
    background: rgba(29, 57, 74, 0.1);
    border: 1px solid rgba(29,57,74,0.1);
    border-radius: .25rem;
    padding: 0 .5rem;
    outline: none;
}
h2{
    color: #1d394a;
    letter-spacing: 1px;
    margin: .5rem 0;
}
.report-body-wrapper{
    border-radius: .25rem;
    margin: 2.5rem 0;
    background: white;
    box-shadow: 0px 2px 6px 0px hsla(260, 6%, 57%);
    padding: 0 1rem;
    position: relative;
}
h4{
    color: #1d394a;
    margin: 0.5rem 0;
    margin-left: 2rem;
}
.report-details{
    padding: .6rem .75rem;
    display: grid;
    grid-template-columns: 10rem auto;
    align-items: center;
    justify-content: space-between;
}
.report-details p{
    margin: .5rem 0;
    margin-left: 1.5rem;
    text-align: right;
}
.btn-div{
    display: flex;
    justify-content: flex-end;
}
.btn-div button, .alert-btns{
    height: 3rem;
    border-radius: .25rem;
    margin: 1rem 0;
    margin-left: 1rem;
    width: 6.5rem;
}
#create-incident{
    background: #117d5a;
    border: 1px solid #117d5a;
    width: 9rem;
    color: white;
    letter-spacing: .5px;
}
.map-region{
    height: 20rem;
    border: 1px solid;
    position: relative;
}
.view-btn{
    background: #23948c;
    border: 1px solid #23948c;
    color: white;
}
.delete-btn{
    border: 1px solid #cf4241;
    background: #cf4c41;
    color: white;
}
.edit-btn{
    background: #117d5a;
    border: 1px solid #117d5a;
    color: white;
}
.comment-div {
    margin: 1rem 0;
}
textarea {
    height: 10rem;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid rgba(29, 57, 74, 0.3);
    outline: none;
    margin-top: 0.5rem;
    font-family: 'Roboto', 'sans-serif', sans-serif;
    letter-spacing: .1rem;
    padding: 2px .5rem;
}
.overlay{
    position: fixed;
    background: rgba(0,0,0,0.2);
    height: 90vh;
    overflow-y: scroll;
    width: calc(100% - 2rem);
    overflow-y: scroll;
    top: 4.5rem;
    justify-content: center;
    z-index: 2;
    display: none;
}
#detailed-incident{
    position: absolute;
    z-index: 2;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    top: calc(0% + 1.5rem);
    box-shadow: 4px 4px 4px -5px gainsboro;
    display: none;
}
.content-wrapper{
    height: 30rem;
    margin: 1rem 0;
}
.image-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}
.image-container img{
    height: 14.5rem;
    width: 100%;
    object-fit: scale-down;
    object-position: center;
    border: 1px solid rgba(29, 57, 74, 0.35);
    border-radius: .25rem;
}
.btn-div select{
    height: 3rem;
    width: 10rem;
    border: 1px solid rgba(29, 57, 74, 0.1);
    border-radius: .25rem;
    background: rgba(29, 57, 74, 0.1);
    outline: none;
}
.btn-select{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 6rem;
    margin-bottom: 0;
}
.navigation__wrapper button{
    font-size: 1.25rem;
    height: 3rem;
    width: 10rem;
    border: 1px solid #cf4241;
    background: #cf4c41;
    border-radius: .25rem;
    margin: 0 .5rem;
    color: white;
    font-weight: 500;
}
.navigation__wrapper div:nth-of-type(1),
.navigation__wrapper div:nth-of-type(2){
    margin: 0 1rem;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    justify-content: center;
}
.navigation__wrapper a{
    text-decoration: none;
    color: #117d5a;
}
.fa{
    margin-left: 1rem;
}
.fa-flag{
    color: #cf4241;
}
.fa-stop-circle-o{
    color: #23948c;
}
.close-notification{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 100%;
    background-color: white;
    color: #cf4241;
    position: absolute;
    top: -1rem;
    right: -.5rem;
    border: 1px solid #cf4241;
}
.fa-close{
    margin: 0;
    font-size: 1.3rem;
    color: #db2727;
}
.pushed{
    margin-top: 4rem;
    /* height: 107rem; */
}
.map{
    margin: 2rem 0;
}
.delete-prompt{
    position: fixed;
    height: 15rem;
    width: calc(100% - 4rem);
    top: calc(50vh - 7.5rem);
    padding: 2rem 1rem;
    z-index: 2;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    display: none;
}
.prompt-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.alert-btns{
    width: unset;
    margin: unset;
    outline: none;
}
.cancel-btn{
    width: 8rem;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    box-shadow: 3px 3px 4px -5px #bdbaba;
}
.delete-btn-parent-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.delete-btn-parent-div .delete-btn{
    box-shadow: -2px -2px 5px -5px #e9e7e7;
}
.bottom-div{
    background: hsla(210, 9%, 96%, 1);
    border-radius: 0 0 .25rem .25rem;
    padding: 0 1rem;
    position: absolute;
    margin: unset;
    left: 0;
    bottom: 0;
    width: calc(100% - 2rem);
}
.incident-intro{
    display: flex;
    align-items: center;
}
.incident-intro .fa{
    margin: unset;
}
.fa-check{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #117d5a;
    color: white;
    border-radius: 100%;
    font-size: 1rem;
}
.create-modal{
    height: 5rem;
    width: 5rem;
    background: #117d5a;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
}
.create-modal img{
    height: 3rem;
    width: 3rem;
}
#create-form-div{
    position: fixed;
    background: white;
    padding: 1rem;
    top: 6rem;
    width: calc(100% - 4rem);
    box-shadow: 0px 0px 2px 0px hsla(245, 8%, 82%, 1);
    z-index: 2;
}
.create{
    height: 85vh;
    overflow-y: scroll;
}
.input-div{
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
}
select, input{
   height: 3rem;
    margin: 0.5rem 0;
    border: none;
    background: hsl(210, 9%, 96%);
    padding: .25rem .5rem;
    border-radius: .25rem;
    outline: none;
    color: #117d5a;
}
.preview-img{
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding: .5rem;
}
.preview-img img{
    height: 9.5rem;
    width: 100%;
    object-position: center;
    object-fit: scale-down;
    border: 1px solid gainsboro;
}
#close-create-form{
    top: .5rem;
    right: .5rem;
}
#ireporter-logo{
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 1.3;
}
@media only screen and (min-device-width: 700px){
    .content-wrapper{
        height: 25rem;
    }
    .image-container img{
        height: 12rem;
    }
    .list-of-reports{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .map-region{
        height: 30rem;
    }
    .list-of-reports{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .select-report select{
        width: 40rem;
    }
    #detailed-incident{
        width: calc(100% - 25rem);
    }
    .notification__body{
        width: calc(100% - 40rem);
        left: 20rem;
    }
    #create-form-div{
        /* left: 20rem; */
        top: 7rem;
        width: calc(100% - 40rem);
    }
    .create{
        height: 80vh;
    }
    .delete-prompt{
        width: calc(100% - 45rem);
        top: calc(50vh - 7.5rem);
    }
}
@media only screen and (min-device-width: 900px){
    .padded-body{
        padding: 5rem 10rem;
    }
    .notification__body{
        width: calc(100% - 70rem);
        left: 35rem;
    }
    .content-wrapper{
        height: 45rem;
    }
    .image-container img{
        height: 22rem;
    }
    .overlay{
        width: calc(100% - 20rem);
    }
    .delete-prompt {
        width: calc(100% - 70rem);
    }
    .create{
        height: 82vh;
    }
    #create-form-div{
        width: calc(100% - 70rem);
    }
    .report-body-wrapper{
        height: 26rem;
    }
    .pushed{
        height: 100%;
    }
}