<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> iReoprter || Admin-Edit </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../styles/admin-edit.css">
</head>

<body>
  <header>
    <nav>
      <div class="navigation__wrapper">
        <div><a href="admin-dashboard.html">Dashboard</a></div>
        <div><button id="log-out">Log Out</button></div>
      </div>
    </nav>
  </header>
  <div id="body">
    <div class="padded-body">
      <p id="welcome-text">Edit report</p>
      <div class="notification">
        <div class="notification__body" id="notification-div">
          <div class="close-notification" id="close-notification">
            <span class="fa fa-close"></span>
          </div>
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="body__content">
        <div class="edit__content">
          <div class="edit__body">
            <div class="edit__body__wrapper">
              <div class="report-details">
                <h4>ID: </h4>
                <p id="incident-id"></p>
              </div>
              <div class="report-details">
                <h4>Type: </h4>
                <p id="incident-type"></p>
              </div>
              <div class="report-details">
                <h4>Created: </h4>
                <p id="incident-date"></p>
              </div>
              <div class="report-details">
                <h4>Title: </h4>
                <p id="incident-title"></p>
              </div>
              <div class="report-details">
                <h4>Status: </h4>
                <select name="" id="incident-status" disabled>
                  <option value="draft">Draft</option>
                  <option value="under-investigation">Under Investigation</option>
                  <option value="rejected">Rejected</option>
                  <option value="resolced">Resolved</option>
                </select>
              </div>
              <div class="location-div">
                <div class="report-details">
                  <h4>Location: </h4>
                  <p id="incident-location"></p>
                </div>
              </div>
              <div class="comment-div" id="comment-div">
                <textarea name="" id="incident-comment" disabled></textarea>
              </div>
              <div class="btn-div btn-select">
                <button id="edit-btn" class="action-btns">Edit Status</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../scripts/utils.js"></script>
  <script src="../../scripts/moment.js"></script>
  <script src="../../scripts/admin-edit.js"></script>
</body>

</html>