<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> iReporter || Admin-Dashboard </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../styles/loader.css">
  <link rel="stylesheet" href="../../styles/admin-dashboard.css">
</head>

<body>
  <header>
    <nav>
      <div class="navigation__wrapper">
        <div><a href="../../../index.html" id="ireporter-logo">iReoprter</a></div>
        <div><button id="log-out">Log Out</button></div>
      </div>
    </nav>
  </header>
  <div id="body">
    <div class="padded-body">
      <div class="loader-div" id="loader-div">
        <div class="loader"></div>
      </div>
      <p id="welcome-text">Welcome to your dashboard.</p>
      <div class="more-details-div">
        <div class="close-notification" id="close-details-div">
          <span class="fa fa-close"></span>
        </div>
        <div class="details-wrapper">
          <div class="map"></div>
          <div>
            <div class="media-div">
              <div class="preview-video">
                <video controls id="video"></video>
              </div>
              <div class="image-div"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="notification">
        <div class="notification__body" id="notification-div">
          <div class="close-notification" id="close-notification">
            <span class="fa fa-close"></span>
          </div>
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="body__content">
        <div class="control">
          <div id="search-div">
            <label for="select view">Sort incident</label>
            <select name="select view" id="incident-view">
              <option value="">Select an option</option>
              <option value="all">All</option>
              <option value="red-flag">Red flags</option>
              <option value="intervention">Intervention</option>
              <option value="draft">Draft</option>
              <option value="rejected">Rejected</option>
              <option value="resolved">Resolved</option>
              <option value="under-investigation">Under Investigation</option>
            </select>
          </div>
          <div id="filter-div">
            <label for="filter list">Search Incident</label>
            <select name="filter list" id="filter-options">
              <option value="">Select option</option>
              <option value="id">Incident ID</option>
              <!-- <option value="createdOn">Date</option> -->
              <option value="location">Location</option>
            </select>
            <input type="text" name="" id="filter-value" placeholder="Please enter your search term here">
            <div class="search-btns">
              <button id="filter-list-btn">Search</button>
              <button id='cancel-search-btn'>Clear Search</button>
            </div>
          </div>
        </div>
        <div class="recently-created">
          <h2 id="incident-title"></h2>
          <div class="list-of-reports"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../scripts/utils.js"></script>
  <script src="../../scripts/moment.js"></script>
  <script src="../../scripts/admin-dashboard.js"></script>
</body>

</html>