<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> iReporter || User-Edit </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../styles/edit-incident.css">
</head>

<body>
  <header>
    <nav>
      <div class="navigation__wrapper">
        <div><a href="user-dashboard.html">Dashboard</a></div>
        <div><a href="profile.html">Profile</a></div>
        <div><a href="view-reports.html">View Reports</a></div>
        <div><button id="log-out">Log Out</button></div>
      </div>
    </nav>
  </header>
  <div id="body">
    <div class="padded-body">
      <div class="notification">
        <div class="notification__body">
          <div class="close-notification">
            <span>x</span>
          </div>
          <p></p>
        </div>
      </div>
      <div id="body__content">
        <div class="create-and-edit">
          <div class="edit">
            <h2>Edit or Delete an incident</h2>
            <div class="edit__body">
              <div class="edit__body__wrapper">
                <div class="report-details">
                  <h4>ID: </h4>
                  <p>09234</p>
                </div>
                <div class="report-details">
                  <h4>Type: </h4>
                  <p>Red Flag <span class="fa fa-flag"></span></p>
                </div>
                <div class="report-details">
                  <h4>Status: </h4>
                  <p>Pending</p>
                </div>
                <div class="location-div">
                  <div class="report-details">
                    <h4>Location: </h4>
                    <p>Address or Coordinates</p>
                  </div>
                  <div class="map">
                    <button>View Map</button>
                    <div class="map-region">map region</div>
                  </div>
                </div>
                <div class="image-and-video-div">
                  <h4>Images or Videos: </h4>
                  <div class="content-wrapper">
                    <div class="image-container">
                      <img src="../../images/quiet.jpg" alt="">
                      <img src="../../images/quiet.jpg" alt="">
                      <img src="../../images/quiet.jpg" alt="">
                      <img src="../../images/quiet.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="btn-div btn-select">
                  <button id="edit-btn" class="action-btns">Edit Incident</button>
                  <button id="delete-btn" class="action-btns">Delete Incident</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="edit">
            <h2>Edit or Delete an incident</h2>
            <div class="edit__body">
              <div class="edit__body__wrapper">
                <div class="report-details">
                  <h4>ID: </h4>
                  <p>09234</p>
                </div>
                <div class="report-details">
                  <h4>Type: </h4>
                  <p>Red Flag <span class="fa fa-flag"></span></p>
                </div>
                <div class="report-details">
                  <h4>Status: </h4>
                  <p>Pending</p>
                </div>
                <div class="location-div">
                  <div class="report-details">
                    <h4>Location: </h4>
                    <p>Address or Coordinates</p>
                  </div>
                  <div class="map">
                    <button>View Map</button>
                    <div class="map-region">map region</div>
                  </div>
                </div>
                <div class="image-and-video-div">
                  <h4>Images or Videos: </h4>
                  <div class="content-wrapper">
                    <div class="image-container">
                      <img src="../../images/quiet.jpg" alt="">
                      <img src="../../images/quiet.jpg" alt="">
                      <img src="../../images/quiet.jpg" alt="">
                      <img src="../../images/quiet.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="btn-div btn-select">
                  <button id="edit-btn" class="action-btns">Edit Incident</button>
                  <button id="delete-btn" class="action-btns">Delete Incident</button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</body>

</html>