<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> iReporter || User-Edit </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../styles/edit-incident.css">
</head>

<body>
  <header>
    <nav>
      <div class="navigation__wrapper">
        <div><a href="../../../index.html" id="ireporter-logo">iReporter</a></div>
        <div>
          <div><a href="view-reports.html">View Reports</a></div>
          <div><button id="log-out">Log Out</button></div>
        </div>
      </div>
    </nav>
  </header>
  <div id="body">
    <div class="padded-body">
      <div class="notification">
        <div class="notification__body" id="notification-div">
          <div class="close-notification" id="close-notification">
            <span class="fa fa-close"></span>
          </div>
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div id="body__content">
        <div class="create-and-edit">
          <div class="edit">
            <h2>Edit an incident</h2>
            <div class="edit__body">
              <div class="edit__body__wrapper">
                <div class="report-details">
                  <div class="incident-intro">
                    <span class="fa fa-check"></span>
                    <h4>Title: </h4>
                  </div>
                  <p id="incident-title"></p>
                </div>
                <!-- <div class="report-details">
                  <div class="incident-intro">
                    <span class="fa fa-check"></span>
                    <h4>ID: </h4>
                  </div>
                  <p id="incident-id"></p>
                </div> -->
                <div class="report-details">
                  <div class="incident-intro">
                    <span class="fa fa-check"></span>
                    <h4>Type: </h4>
                  </div>
                  <p id="incident-type"></p>
                </div>
                <div class="report-details">
                  <div class="incident-intro">
                    <span class="fa fa-check"></span>
                    <h4>Created: </h4>
                  </div>
                  <p id="incident-date"></p>
                </div>
                <!-- <div class="report-details">
                  <div class="incident-intro">
                    <span class="fa fa-check"></span>
                    <h4>Status: </h4>
                  </div>
                  <p id="incident-status"></p>
                </div> -->
                <div class="location-div">
                  <div class="comment-div">
                    <h4>Location: </h4>
                    <textarea name="" id="incident-location" value="" disabled></textarea>
                  </div>
                </div>
                <div class="comment-div" id="comment-div">
                  <h4>Comment</h4>
                  <textarea name="" id="incident-comment" disabled></textarea>
                </div>
                <div class="edit-btn-div">
                  <button class="edit-btn edit-comment" id="edit-comment-btn">Edit Comment</button>
                  <button class="edit-btn edit-location" id="edit-location-btn">Edit Location</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../scripts/utils.js"></script>
  <script src="../../scripts/moment.js"></script>
  <script src="../../scripts/user-edit-incident.js"></script>
</body>

</html>