<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> iReporter || view-reports</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/view-reports.css">
</head>

<body>
    <header>
        <nav>
            <div class="navigation__wrapper">
                <div><a href="profile.html">Profile</a></div>
                <div><a href="view-reports.html">View Reports</a></div>
                <div><button>Log Out</button></div>
            </div>
        </nav>
    </header>
    <div id="body">
        <div class="padded-body">
            <div class="notification">
                <div class="notification__body">
                    <div class="close-notification">
                        <span>x</span>
                    </div>
                    <p></p>
                </div>
            </div>
            <div class="body__content">
                <div class="select-report">
                    <label for="select report">Sort reports by status</label>
                    <select name="select report" id="sort-report">
                        <option value="all">All</option>
                        <option value="pending">Pending</option>
                        <option value="rejected">Rejected</option>
                        <option value="resolved">Resolved</option>
                        <option value="under-investigation">Under Investigation</option>
                    </select>
                </div>
                <div class="recently-created">
                    <h2>All created reports</h2>
                    <div id="all-reports">
                        <div class="list-of-reports">
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pending-reports">
                        <div class="list-of-reports">
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="resolved-reports">
                        <div class="list-of-reports">
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="rejected-reports">
                        <div class="list-of-reports">
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="under-investigation-reports">
                        <div class="list-of-reports">
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-body-wrapper">
                                <div class="report-details">
                                    <h4>ID: </h4>
                                    <p>09234</p>
                                </div>
                                <div class="report-details">
                                    <h4>Type: </h4>
                                    <p>Red Flag <span>Icons</span></p>
                                </div>
                                <div class="report-details">
                                    <h4>Created: </h4>
                                    <p>23/12/2018</p>
                                </div>
                                <div class="report-details">
                                    <h4>Status: </h4>
                                    <p>Pending</p>
                                </div>
                                <div class="location-div">
                                    <div class="report-details">
                                        <h4>Location: </h4>
                                        <p>Address or Coordinates</p>
                                    </div>
                                    <div class="map">
                                        <button>View Map</button>
                                        <div class="map-region">map region</div>
                                    </div>
                                </div>
                                <div class="image-and-video-div">
                                    <h4>Images or Videos: </h4>
                                    <div class="content-wrapper">
                                        <!-- multiple images here -->
                                        <div class="image-container">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                            <img src="../../images/quiet.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>