<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> iReporter || view-reports</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../styles/view-reports.css">
</head>

<body>
  <header>
    <nav>
      <div class="navigation__wrapper">
        <div><a href="profile.html">Profile</a></div>
        <div><a href="user-dashboard.html">Dashboard</a></div>
        <div><button id="log-out">Log Out</button></div>
      </div>
    </nav>
  </header>
  <div id="body">
    <div class="padded-body">
      <p id="welcome-text">Welcome. View your reports.</p>
      <div id="create-form-div">
        <div class="create">
          <h2>Report an incident</h2>
          <div class="create-content">
            <div class="input-div">
              <label for="type">Select type of report</label>
              <select name="type" id="report-type">
                <option value="">Please select your report type</option>
                <option value="red-flag">Red Flag</option>
                <option value="intervention">Intervention</option>
              </select>
            </div>
            <div class="input-div">
              <label for="title">Title</label>
              <input type="text" name="title" id="create-incident-title">
            </div>
            <div class="input-div for-text">
              <label for="comments">Enter comments</label>
              <textarea name="comments" id="comments"></textarea>
            </div>
            <div class="input-div">
              <label for="location">Enter Location or Coordinates</label>
              <input type="text" name="location" id="location">
            </div>
            <div class="input-div">
              <label for="image or video">Upload Image or Video</label>
              <input type="file" name="image or video" id="file-upload" accept="image/*, video/*">
            </div>
            <div class="preview-img"></div>
            <div class="btn-div">
              <button id="create-incident">Create</button>
            </div>
          </div>
        </div>
      </div>
      <div class="create-modal" id="create-modal">
        <img src="../../images/promotion.svg" alt="image">
      </div>
      <div class="notification">
        <div class="notification__body" id="notification-div">
          <div class="close-notification" id="close-notification">
            <span class="fa fa-close"></span>
          </div>
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="delete-prompt">
        <div class="prompt-body">
          <h3>Are you sure you want to delete this report?</h3>
          <div class="delete-btn-parent-div">
            <div>
              <button class="alert-btns cancel-btn">Cancel</button>
            </div>
            <div>
              <button class="delete-btn alert-btns">Delete Report</button>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay" id="overlay">
        <div id="detailed-incident">
          <div class="close-notification" id="close-details">
            <span class="fa fa-close"></span>
          </div>
          <div class="report-body-wrapper pushed">
            <div class="report-details">
              <div class="incident-intro">
                <span class="fa fa-check"></span>
                <h4>ID: </h4>
              </div>
              <p id="incident-id"></p>
            </div>
            <div class="report-details">
              <div class="incident-intro">
                <span class="fa fa-check"></span>
                <h4>Type: </h4>
              </div>
              <p id="incident-type"></p>
            </div>
            <div class="report-details">
              <div class="incident-intro">
                <span class="fa fa-check"></span>
                <h4>Created: </h4>
              </div>
              <p id="incident-date"></p>
            </div>
            <div class="report-details">
              <div class="incident-intro">
                <span class="fa fa-check"></span>
                <h4>Status: </h4>
              </div>
              <p id="incident-status"></p>
            </div>
            <div class="report-details">
              <div class="incident-intro">
                <span class="fa fa-check"></span>
                <h4>Title: </h4>
              </div>
              <p id="incident-title"></p>
            </div>
            <div class="location-div">
              <div class="report-details">
                <div class="incident-intro">
                  <span class="fa fa-check"></span>
                  <h4>Location: </h4>
                </div>
                <p id="incident-location"></p>
              </div>
              <div class="map">
                <h4>Map</h4>
                <div class="map-region"></div>
              </div>
              <div class="comment-div">
                <h4>Comment: </h4>
                <textarea name="comment" id="incident-comment" disabled></textarea>
              </div>
            </div>
            <div class="image-and-video-div">
              <h4>Images or Videos: </h4>
              <div class="content-wrapper">
                <!-- multiple images here -->
                <div class="image-container" id="incident-img-div">
                  <!-- <img src="" alt="image" class="incident-img">
                  <img src="" alt="image" class="incident-img">
                  <img src="" alt="image" class="incident-img">
                  <img src="" alt="image" class="incident-img"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body__content">
        <div class="select-report">
          <label for="select report">Sort reported incidents by status</label>
          <select name="select report" id="sort-report">
            <option value="all">All</option>
            <option value="red-flag">Red flags</option>
            <option value="intervention">Intervention</option>
            <option value="draft">Draft</option>
            <option value="rejected">Rejected</option>
            <option value="resolved">Resolved</option>
            <option value="under-investigation">Under Investigation</option>
          </select>
        </div>
        <div class="recently-created">
          <h2 id="current-view-title">All reported incidents</h2>
          <div id="all-reports">
            <div class="list-of-reports" id="incidents-view"></div>
          </div>
        </div>
      </div>
    </div>


    <script src="../../scripts/utils.js"></script>
    <script src="../../scripts/moment.js"></script>
    <script src="../../scripts/view-reports.js"></script>
</body>

</html>