<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> iReporter || Log In</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../styles/loader.css">
  <link rel="stylesheet" href="../styles/login.css">
</head>

<body>
  <div>
    <div class="content">
      <div class="content__body">
        <div class="loader-div" id="loader-div">
          <div class="loader"></div>
        </div>
        <div class="notification-div" id="notification-div">
          <div id="close-notification">
            <span>x</span>
          </div>
          <h5></h5>
          <p></p>
        </div>
        <div id="aside">
          <img src="../images/quiet.jpg" alt="">
        </div>
        <div id="form">
          <div class="form__body">
            <div class="form__navigation">
              <div><a href="signup.html">Sign Up</a></div>
              <div><a href="login.html">Log In</a></div>
            </div>
            <div class="form__inputs">
              <div class="input-div">
                <label for="email">EMAIL</label>
                <input type="email" name="email" id="email">
              </div>
              <div class="input-div">
                <label for="password">PASSWORD</label>
                <input type="password" name="passowrd" id="password">
              </div>
              <div class="btn-div">
                <button id="login-btn">Log In</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../scripts/utils.js"></script>
  <script src="../scripts/login.js"></script>
</body>

</html>