<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> iReporter || Sign Up</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../styles/signup.css">
</head>

<body>
  <div>
    <div class="content">
      <div class="content__body">
        <div class="notification-div" id="notification-div">
          <div id="close-notification">
            <span>x</span>
          </div>
          <p></p>
        </div>
        <div id="aside">
          <img src="../images/quiet.jpg" alt="">
        </div>
        <div id="form">
          <div class="form__body">
            <div class="form__navigation">
              <div><a href="signup.html">Sign Up</a></div>
              <div><a href="login.html">Log In</a></div>
            </div>
            <div class="form__inputs">
              <div class="input-div">
                <label for="name">LAST NAME</label>
                <input type="text" name="name" id="last-name" placeholder="Enter your full name">
              </div>
              <div class="input-div">
                <label for="name">FIRST NAME</label>
                <input type="text" name="name" id="first-name" placeholder="Enter your full name">
              </div>
              <div class="input-div">
                <label for="email">EMAIL</label>
                <input type="email" name="email" id="email" placeholder="Enter your email address">
              </div>
              <div class="input-div">
                <label for="password">PASSWORD</label>
                <input type="password" name="passowrd" id="password" placeholder="******">
              </div>
              <div class="input-div">
                <label for="confirm password">CONFIRM PASSWORD</label>
                <input type="password" name="confirm password" id="confirm-password" placeholder="******">
              </div>
              <!-- <div class="conditions-div">
                <label for="sign up">By signing up, you agree to terms and conditions</label>
                <input type="checkbox" name="sign up" id="terms-check">
              </div> -->
              <div class="btn-div">
                <button id="signup-btn">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../scripts/utils.js"></script>
  <script src="../scripts/signup.js"></script>
</body>

</html>